# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

城市卡牌游戏/
城市卡牌游戏-双击即玩版/
城市卡牌游戏.zip
城市卡牌游戏-双击即玩版.tar.gz
